<div class="panel panel-primary">
  <div class="panel-heading">Receta</div>
  <form class="panel-body">
      <div class="form-group">
        <label>Título:</label>
        <input type="text" class="form-control" placeholder="Ingrese un título" (input)='onTitleTyped($event)'>
        <span *ngIf="recetaService.errorTitle" class="error-message">* {{recetaService.errorTitle}}</span>
      </div>
      <div class="form-group">
        <label>Descripción:</label>
        <textarea rows="7" class="form-control" placeholder="Ingrese una descripción" (input)='onDescTyped($event)'></textarea>
        <span *ngIf="recetaService.errorDesc" class="error-message">* {{recetaService.errorDesc}}</span>
      </div>
      <button type="submit" class="btn btn-primary pull-right" (click)="agregar()">Agregar</button>
    </form>
</div>