form {
	display: flex;
	flex-direction: column;
  width: 50%;
  min-width: 350px;
  max-width: 400px;
}

@media only screen and (min-width: 1000px) {
  form {
    min-width: 400px;
  }
}

input {
	padding: 5px 15px;
  margin-top: 5px;
}

img {
  content:url(https://cdn2.iconfinder.com/data/icons/rounded_square_icons__books_by_deleket-dexzmr/320/Recipe_Book.png);
  margin: auto;
  width: 200px; 
  height: 200px;
  padding: 5px 0px 10px 0px;
}

/* https://www.bestcssbuttongenerator.com */
button {
  margin-top: 10px;
}
